.content_con {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    height: calc(100vh - 5vh);
    background-color: yellowgreen;
}

.content_list {
    box-sizing: border-box;
    background-color: rgb(255, 227, 191);
}

.right {
    flex: 1;
    overflow-y: auto;

    box-sizing: border-box;
    background-color: antiquewhite;
    

    p,span,li,h3,h2 {
        color: #5a5a5aff;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.right::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}
/* Sidebar container */
.content_list {
  width: 300px;
  background: #0c1a2b; /* dark theme */
  padding: 10px 0;
  border-right: 2px solid #1f2f45;
  height: 100vh;
  overflow-y: auto;
}

/* Heading */
.content_list h3 {
  color: #9cc9ff;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #1f2f45;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

/* Main topics */
.content_list > ul > li > div {
  color: #e7f1ff;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.content_list > ul > li > div:hover {
  background: #112842;
}

/* Sub topics */
.content_list ul ul {
  padding-left: 30px;
  margin-top: 5px;
}

.content_list ul ul li {
  color: #b8d4ff;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.3s;
}

.content_list ul ul li:hover {
  background: #1b3652;
  color: white;
}

/* Highlight selected sub_topic */
.content_list ul ul li:active,
.content_list ul ul li:focus {
  background: #2a4d78;
  color: white;
}
