.content_con {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    height: calc(100vh - 5vh);
    background-color: yellowgreen;
}

.content_list {
    box-sizing: border-box;
    background-color: rgb(255, 227, 191);
}

.right {
    flex: 1;
    overflow-y: auto;

    box-sizing: border-box;
    background-color: antiquewhite;
    

    p,span,li,h3,h2 {
        color: #5a5a5aff;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.right::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}