.nav_con{
  height: 5vh;
  background-color: #F5F6BF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  
  align-items: center;
  width: 100vw;
}
.header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: calc(40vh - 5vh);
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
  background-image: url("../public/Gemini_Generated_Image_3f1w8d3f1w8d3f1w.png");
  background-color: #f9fad1;
  background-position: right;
  background-repeat: no-repeat;
}
.about_con{
  background-color: antiquewhite;
  display: flex ;
  flex-direction: row;
  height: 40vh;
}
.AboutText{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 0 10px 0 10px;
  text-align: justify;
  box-sizing: border-box;
}
span{
  display: block;
}
